body{
	font-family: sans-serif;
	margin: 0px;
}
input{
	font-size: 18px;
}
input:focus{
	outline: none;
}
header{
	width: 100vw;
	height: 50px;
	background: whitesmoke;
	position: fixed;
	top: 0px;
	box-shadow: 0px 1px 10px #ccc;
}
header #heading{
	float: left;
	line-height: 50px;
	margin-left: 100px;
}
header ul{
	list-style-type: none;
	position: fixed;
	right: 0px;
	margin: 0px 100px;
}
header ul li{
	float: left;
	height: 50px;
	background: whitesmoke;
	cursor: default;
	line-height: 50px;
	padding: 0px 30px;
	transition: 1s;
}
header ul li:hover{
	background: white;
}
input{
	padding: 5px;
	border-radius: 5px;
	margin: 5px;
}
.require{
	color: red;
}
button{
	margin: 5px;
	border-radius: 5px;
	padding: 5px;
	font-size: 18px;
}
#patientdiv{
	margin-top: 100px;
}
#doctordiv{
	display: none;
	margin-top: 100px;
}
#doctordiv #head{
	font-size: 20px;
}